<h3>Data Conversions</h3>
<p>Select the data you need to convert and options for conversion will follow</p>
<small>This platform offers conversions for Geographic datasets <strong>ONLY</strong></small>
<div class="list-group">
    <a href="{% url 'from-shapefile' %}" class="list-group-item list-group-item-action"><span class="badge rounded-pill bg-dark">Shapefile</span></a>
    <a href="#" class="list-group-item list-group-item-action"><span class="badge rounded-pill bg-success">GeoJSON</span></a>
    <a href="#" class="list-group-item list-group-item-action"><span class="badge rounded-pill bg-warning">CSV</span></a>
    <a href="#" class="list-group-item list-group-item-action"><span class="badge rounded-pill bg-danger">JSON</span></a>
</div>