{% extends "header_footer.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row container">
    <div class="row">
        <div class="col">
            <h3>Instructions: (Join Calculation)</h3>
            <p>Join Computation - given two coordinate pairs, find the distance and direction (bearing) between the two points
                each coordinate pair contains an <code>X</code> and <code>Y</code> value to be computed. 
            </p>
            <p>Select the Hemisphere (South or North) for the computation. </p>
            <form method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form|crispy }}
                </div>
                <div class="form-check form-switch mb-3">
                    {% if user.is_authenticated %}
                    <input class="form-check-input" name="saved" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Save my data</label>
                    {% else %}
                    <span class="badge rounded-pill bg-warning text-dark">Only logged in users can save results</span>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Calculate</button>
            </form>
        </div>
        <div class="col">
            <h3>Computation Results</h3>

            <div class="mb-3 row">
                <label for="distance" class="col-sm-2 col-form-label">Distance (m)</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="{{ distance }}" aria-label="readonly input example" readonly>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="direction" class="col-sm-2 col-form-label">Direction (&deg;)</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="{{ direction }}" aria-label="readonly input example" readonly>
                </div>
            </div>

            <div class="row g-3">
            <div class="col-md-2">
                <label for="degrees" class="form-label">Degrees(&deg;)</label>
                <input class="form-control" type="text" value="{{ degree }}" aria-label="readonly input example" readonly>
              </div>
              <div class="col-md-2">
                <label for="minutes" class="form-label">Minutes(`)</label>
                <input class="form-control" type="text" value="{{ minutes }}" aria-label="readonly input example" readonly>
              </div>
              <div class="col-md-2">
                <label for="inputZip" class="form-label">Seconds(``)</label>
                <input class="form-control" type="text" value="{{ seconds }}" aria-label="readonly input example" readonly>
              </div>
              </div>
            
              <div class="border-top my-3"></div>
              <h6>Continuing join calculation?</h6>
              <p>Select any of these to progress with the calculation</p>

              <p><small><span class="badge bg-info text-dark">Sequential</span> Calculates the join in a sequential order. The end point
            coordinates will become the starting point coordinate of the next calculation</small></p>
            <p><small><span class="badge bg-info text-dark">Radial</span> Calculates the join in a radial formate. The starting point coordinates
            will remain fixed while the end point coordinates change on your input</small></p>
              

              <button type="button" id="sequential" class="btn btn-dark">Sequential</button>
              <button type="button" id="radial" class="btn btn-success">Radial</button>
        </div>
    </div>


<script>
    // FIXME: place the javascript event handlers properly to prevent these fucken bugs
document.getElementById("sequential").addEventListener("click", Sequential);
document.getElementById("radial").addEventListener("click", Radial);

// Get the Start Coordinates
var start_name = document.getElementById("start_name").value;
var x_start = document.getElementById("x_start").value;
var y_start = document.getElementById("y_start").value;

// Get the End Coordinates
var end_name = document.getElementById("end_name").value;
var x_end = document.getElementById("x_end").value;
var y_end = document.getElementById("y_end").value;

function Sequential() {
    // solved
    document.getElementById("start_name").value=end_name;
    document.getElementById("y_start").value=y_end;
    document.getElementById("x_start").value=x_end;
    document.getElementById("y_end").value = "";
    document.getElementById("x_end").value = "";
    document.getElementById("end_name").value = '';
}

function Radial() {
    // solved
    document.getElementById("end_name").value = "";
    document.getElementById("y_end").value = "";
    document.getElementById("x_end").value = "";
    
}
</script>



    {% endblock content %}