{% extends "header_footer.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Cards</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Components</li>
                <li class="breadcrumb-item active">Cards</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-6">

                <!-- Input Card -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Instructions for use</h5>
                        <!-- the magic happens here -->
                        <p>Upload a shapefile to visualize your data on the map display. Shapefile data ends with
                            <code>.geojson</code> format.
                            Any other format will not be rendered</p>
                    </div>
                </div><!-- End Result Card -->


            </div>

            <div class="col-lg-6">

                <!-- Result Card -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Result</h5>
                        <!-- the other magic here -->
                        {{ map|safe }}
                    </div>
                </div><!-- End  Result Card -->


            </div>



        </div>
    </section>

</main><!-- End #main -->


{% endblock content %}