{% extends 'header_footer.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-8">
      <h3>Profile Information</h3>
      <img src="https://thumbs.dreamstime.com/b/user-icon-trendy-flat-style-isolated-grey-background-user-symbol-user-icon-trendy-flat-style-isolated-grey-background-123663211.jpg" 
            class="rounded-circle" 
            alt="..." 
            height="75" 
            width="75">
            <h5>User-Name</h5>
            <p class="lead">E-mail: demo@demo.com</p>
    </div>
    <div class="col-sm-4">
        {% include "users/profile_side_menu.html" %}
    </div>
  </div>
  
{% endblock content %}